{% extends "::base.html.twig" %}

{% block container %}

    <div class="row">
        <div class="span6 offset2">
            <h1><a href="{{ path('show_meeting', { 'url':meeting.url }) }}">{{ meeting.title }}</a></h1>
        </div>
    </div>

    <div class="row huddle-row">

        <div class="span1 offset1 hidden-phone">
            <div class="huddle-icon-block">
                <div class="huddle-icon">
                    {% image '@StmolHuddleBundle/Resources/public/images/icons/calendar@2x.png' %}
                    <img src="{{ asset_url }}" alt="{{ 'Meeting'|trans }}"/>
                    {% endimage %}
                </div>

                <h4>{{ 'Meeting'|trans }}</h4>
            </div>
        </div>

        <div class="span4 login-form">
            {{ form_start(form) }}
            {{ form_errors(form) }}

                {# Title #}
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {
                    'attr': {
                        'class': 'input-block-level'
                    }
                }) }}

                {# Description #}
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {
                    'attr': {
                        'class': 'input-block-level'
                    }
                }) }}

                {# Day #}
                <div class="huddle-date-input">
                    {{ form_label(form.startDate.day) }}
                    {{ form_widget(form.startDate.day, {
                        'attr': {
                            'class': 'span1'
                        }
                    }) }}
                </div>

                {# Month #}
                <div class="huddle-date-input">
                    {{ form_label(form.startDate.month) }}
                    {{ form_widget(form.startDate.month, {
                        'attr': {
                            'class': 'span2'
                    }
                    }) }}
                </div>

                {# Year #}
                <div class="huddle-date-input">
                    {{ form_label(form.startDate.year) }}
                    {{ form_widget(form.startDate.year, {
                        'attr': {
                            'class': 'span1'
                        }
                    }) }}
                </div>

                <div class="row huddle-row"></div>

                <input type="submit" value="{{ 'Edit'|trans }}" class="btn btn-large btn-block btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="span5 offset2">

            <span class="fui-user huddle-icon-caption"></span>
            <h3>{{ 'Members'|trans }}</h3>

            {% for relation in meeting.memberRelations if relation.member != app.user and relation.state != 2 %}
                <p>{{ relation.member.name }} {{ relation.member.surname }}
                    - <a href="mailto:{{ relation.member.email }}">{{ relation.member.email }}</a>
                    (<a href="{{ path('manage_member', { 'url': meeting.url, 'id': relation.member.id, 'action': 'remove' }) }}">{{ 'remove'|trans }}</a>)
                </p>
            {% endfor %}

            <p>&nbsp</p>

            {% for relation in meeting.memberRelations if relation.member != app.user and relation.state == 2 %}
                <p class="muted">{{ relation.member.name }} {{ relation.member.surname }}
                    - <a href="mailto:{{ relation.member.email }}">{{ relation.member.email }}</a>
                    (<a href="{{ path('manage_member', { 'url': meeting.url, 'id': relation.member.id, 'action': 'restore' }) }}">{{ 'restore'|trans }}</a>)
                </p>
            {% endfor %}

        </div>
    </div>


{% endblock %}