{% extends "::base.html.twig" %}

{% block body %}
    Edit meeting: {{ meeting.title }}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.startDate) }}

        <input type="submit" value="Submit"/>
    {{ form_end(form) }}

    {% for relation in meeting.memberRelations if relation.member != app.user %}
        <ul>
            <li>{{ relation.member.email }}</li>
            <li>{{ relation.member.name }}</li>
            <li>{{ relation.member.surname }}</li>
            <li><a href="#">Исключить</a></li>
        </ul>
    {% endfor %}
{% endblock %}