{% extends "::base.html.twig" %}

{% block body %}
    <h2>Meeting page</h2>

    {% if app.user %}
        {% for rel in app.user.meetingRelations %}
            {% if rel.meeting == meeting and rel.role == 1 %}
                <a href="{{ path('edit_meeting',  { 'url':meeting.url }) }}">Изменить</a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h3>{{ meeting.title }}</h3>
    <p>{{ meeting.description }}</p>
    <p>{{ meeting.startDate|date }}</p>

    {% for relation in meeting.memberRelations %}
        <ul>
            <li>{{ relation.member.email }}</li>
            <li>{{ relation.member.name }}</li>
            <li>{{ relation.member.surname }}</li>
            {% if relation.role == 1 %}<li>Организатор</li>{% endif %}
        </ul>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}

        <input type="submit" value="Submit"/>
    {{ form_end(form) }}
{% endblock %}